@using System.Web;
@using Dynamicweb.Modules.UserManagement;

@{
  string loginPage = Pageview.Area.Item["Login"].ToString(),
         userEmail = !string.IsNullOrEmpty(HttpContext.Current.Request.Params["Username"]) ? HttpContext.Current.Request.Params["Username"].ToString() : "",
         action = Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl("Default.aspx?ID=" + GetGlobalValue("Global:Page.ID")),
         username = !string.IsNullOrEmpty(HttpContext.Current.Request.Params["sendPasswordEmail"]) ? HttpContext.Current.Request.Params["sendPasswordEmail"].ToString() : "";
         //secondaryUserEmail = Pageview.User.SecondaryUserEmail.ToString();
         string secondaryUserEmail = !string.IsNullOrEmpty(GetGlobalValue("Global:Extranet.SecondaryUser.UserID")) ? GetGlobalValue("Global:Extranet.SecondaryUser.Email") : ""; 
}
<div class="center-text">
  <div class="login">
    <div class="row">
      <div class="h1">@Translate("resetPassword")</div>
      
  @if(GetString("UserManagement:User.Login.Action") == "Recovery"){
      <div class="info-pane">@Translate("enterEmailYouUsedToRegister")</div>
    <form class="col-xs-12 DMForms userRelatedForms" id="ExtUserForm" method="post" action="@action">
      <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetString("UserManagement:User.Login.EmailTemplate")" />
      <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetString("UserManagement:User.Login.EmailSender")" />
      <input type="hidden" name="ForgotPasswordMailSubject" value="@GetString("UserManagement:User.Login.EmailSubject")" />

      @if(GetString("UserManagement:User.Login.FoundUsersCount") == "0" || GetInteger("UserManagement:User.Login.FoundUsersCount") > 1){
        @SnippetStart("jsOnLoad")
          @:alert("@Translate("emailAccountNotFound", "We did not find an account associated with that email. Please try a different email or create a new account.")");
        @SnippetEnd("jsOnLoad")
      }
      <fieldset class="TextInput mandatory pf-field checkEmail form-group">
          <label class="title" for="AccessUserEmail">
              E-mail:
          </label>
          <input value="@secondaryUserEmail" name="AccessUserEmail" type="email" id="AccessUserEmail" />
      </fieldset>
      <input name="AccessUser_UserType" type="hidden" id="AccessUser_UserType" value="Login" />
      @* @foreach(LoopItem f in GetLoop("UserManagement:User.Login.Fields")){
        if(f.GetString("Field.Name") == "AccessUserEmail"){
          <fieldset class="TextInput mandatory pf-field checkEmail">
            <label class="title" for="@f.GetString("Field.Name")">
              @f.GetString("Field.Title"):
            </label>
            @f.GetString("Field.Input").Replace("<input", "<input value='" + username + "'").Replace("type=\"text\"", "type=\"email\"")
            @if(!string.IsNullOrEmpty(f.GetString("Field.Error"))){
              <label class="error" for="@f.GetString("Field.Name")">@f.GetString("Field.Error")</label>
            }
          </fieldset>
        }else{
          <fieldset class="TextInput mandatory pf-field">
            <label class="title" for="@f.GetString("Field.Name")">
              @f.GetString("Field.Title"):
            </label>
            @f.GetString("Field.Input")
            @if(!string.IsNullOrEmpty(f.GetString("Field.Error"))){
              <label class="error" for="@f.GetString("Field.Name")">@f.GetString("Field.Error")</label>
            }
          </fieldset>
        }
      } *@

      <div class="forgotButtons backToLogin col-xs-12 noPadding">
        <a id="forgotPasswordID" href="@loginPage" class="btn btn-bg">@Translate("backToLogin", "Back to login")</a>
  
  		<button class="btn btn-primary" type="submit" name="LoginAction" value="Recovery">@Translate("recoverPassword", "Recover password")</button>
      </div>
    </form>
  }
  @if(GetString("UserManagement:User.Login.Action") == "RecoveryLinkSent"){
    <div class="info-pane">
      <p class="title col-xs-12 h3 noPadding">@Translate("success", "Success")</p>
      <div class="body col-xs-12 noPadding">
        @Translate("emailHasBeenSent", "An email has been sent to the address you entered.")
      </div>
    </div>
  }
  @if(GetString("UserManagement:User.Login.Action") == "NewPasswordForm"){
    if(GetString("UserManagement:User.Login.RecoveryToken.FoundUser") != "True"){
      <div class="info-pane">
        <div class="title">@Translate("somethingWentWrong", "Uh oh! Something went wrong.")</div>
        <div class="body">
          @Translate("tryRecoverPassword", "Try recover password") <a href="/default.aspx?id=@GetGlobalValue("Global:Page.ID")&LoginAction=Recovery">@Translate("again", "again")<a>.
        </div>
      </div>
    }
      if(GetString("UserManagement:User.Login.RecoveryToken.FoundUser") == "True" && GetString("UserManagement:User.Login.RecoveryToken.OutOfDate") == "True"){
      <div class="info-pane">
        <div class="title">@Translate("recoverLinkOutOfDate", "The recovery password link has expired.")</div>
        <div class="body">
          @Translate("recoverLinkOutOfDate2", "Try recover password") <a href="/default.aspx?id=@GetGlobalValue("Global:Page.ID")&LoginAction=Recovery">@Translate("again", "again")<a>.
        </div>
      </div>
    }
      if(GetString("UserManagement:User.Login.RecoveryToken.FoundUser") == "True" && GetString("UserManagement:User.Login.RecoveryToken.OutOfDate") != "True"){
      <form class="DMForms userRelatedForms" id="ExtUserForm" method="post" action="/Default.aspx?id=@GetGlobalValue("Global:Page.ID")">
        <input type="hidden" name="RecoveryToken" value="@GetString("UserManagement:User.Login.RecoveryToken")" />
        <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetString("UserManagement:User.Login.EmailTemplate")" />
        <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetString("UserManagement:User.Login.EmailSender")" />
        <input type="hidden" name="ForgotPasswordMailSubject" value="@GetString("UserManagement:User.Login.EmailSubject")" />
        <input type="hidden" name="Username" value="@userEmail" />

        @if(!string.IsNullOrEmpty(GetString("UserManagement:User.Login.Field.NewPassword.Error")) || !string.IsNullOrEmpty(GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Error"))){
            string error = "";
            if(!string.IsNullOrEmpty(GetString("UserManagement:User.Login.Field.NewPassword.Error"))){
                error = GetString("UserManagement:User.Login.Field.NewPassword.Error");
            }
            if(!string.IsNullOrEmpty(GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Error"))){
                if(error != ""){
                    error += "<br/>";
                }
                error += GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Error");
            }
            <text> @SnippetStart("jsOnLoadVariables") alert("@error"); @SnippetEnd("jsOnLoadVariables") </text>

        }

        
        <fieldset class="TextInput mandatory pr-field confirmation checkPassword_1 col-xs-12 noPadding">
          <label class="title" for="@GetString("UserManagement:User.Login.Field.NewPassword.Name")">
            @Translate("newPassword", "New Password"):
          </label>
          @GetString("UserManagement:User.Login.Field.NewPassword.Input")
        </fieldset>
        <fieldset class="fieldInfoContainer col-xs-12 noPadding"><span>@Translate("passwordRulesMessage","1) the password must contain letters and numbers and </br> 2) it must be at least 8 characters long.")</span></fieldset>
        <fieldset class="TextInput mandatory pr-field confirmation checkPassword_1 col-xs-12 noPadding">
          <label class="title" for="@GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Name")">
            @Translate("confirmPassword", "Confirm Password"):
          </label>
          @GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Input")
        </fieldset>
        <div class="col-xs-12 noPadding">
          <div class="searchButton">
            <button class="btn btn-bg" type="submit" name="LoginAction" value="ChangePassword">@Translate("saveChanges", "Save")</button>
          </div>
        </div>
      </form>
    }
  }
  @if(GetString("UserManagement:User.Login.Action") == "PasswordChanged"){
    <div class="info-pane">
      <h2>@Translate("success", "Success")</h2>
      <div class="body">
        @Translate("passwordSuccessfullyReset.", "Ihr Passwort wurde erfolgreich gesetzt.")
      </div>
    </div>
  }
</div>
</div>
</div>

@SnippetStart("jsOnLoad")
  onLoadForgotPassword();
@SnippetEnd("jsOnLoad")