@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@using System.Text.RegularExpressions;
@using Dynamicweb.Core

@{
  string designFolder = GetString("Template:DesignBaseUrl");
  string device = Pageview.Device.ToString();
  string OrSubpage = GetString("DwAreaFirstPageID") == GetString("Global:Page.ID") ? "home" : "subpage";
  string print = !string.IsNullOrEmpty(System.Web.HttpContext.Current.Request.Params["print"]) ? "printOrPdf" : "";
  string resultsPage = GetString("Item.Area.SearchResults");
  string countryCode = Dna.IP.Frontend.GetCountryCode();
  string longLang = Pageview.GlobalTags.GetTagByName("Global:Area.LongLang").Value.ToString();
  string shortLang = Pageview.GlobalTags.GetTagByName("Global:Area.Lang").Value.ToString();
  string email = GetString("Item.Area.Email");
  string phone = GetString("Item.Area.Phone");
	string subscribeToNewsletterAPI = GetString("Item.Area.Newsletter_Subscribe_API");

  bool userIsLoggedIn = Dynamicweb.Security.UserManagement.User.IsExtranetUserLoggedIn();
  bool isPrint = !string.IsNullOrEmpty(System.Web.HttpContext.Current.Request.Params["print"]);
  List<LoopItem> socialMedia = GetLoop("Item.Area.SocialNetworks");
  List<LoopItem> websiteLanguages = GetLoop("WebsiteLanguages");
	List<LoopItem> languages = GetLoop("Languages");

  string ipCountry = Dna.IP.Frontend.GetCountryCode();
  string countryCodeModule = !string.IsNullOrEmpty(ipCountry) ? ipCountry : "US";
  string userCountryCode = (Pageview.User != null && !string.IsNullOrEmpty(Pageview.User.CountryCode)) ? Pageview.User.CountryCode : ipCountry;
  string userState = Pageview.User != null ? Pageview.User.State : string.Empty;    
}<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@GetValue("Title")</title>
@GetValue("MetaTags")
@GetValue("CopyRightNotice")

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: [
                    "Lato:100,300,300i,400,700,700i,900:latin,cyrillic,cyrillic-ext,latin-ext",
                    "Roboto:400,700",
                    "Montserrat"
                ]
            }
        });
    </script>

  <link rel="shortcut icon" href="@(designFolder)images/favicon.ico" type="image/x-icon">


  @{
  var minify = false;
  var styleBundle = Dna.Optimizer.Renderer.RenderStyles(string.Format("{0}css", designFolder), "-main-styles", new[] { "exceptions" }, minify, true);
  var scriptBundle = Dna.Optimizer.Renderer.RenderScripts(string.Format("{0}js", designFolder), "-main-scripts", new[] { "exceptions" }, minify, true);
  }
  <link rel="stylesheet" href="@styleBundle">
  <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/css/exceptions/exceptions.css">
 
  
  <script src="@scriptBundle"></script>

  <script>
  @RenderSnippet("jsVariables")
  @SnippetStart("jsVariables") @SnippetEnd("jsVariables")

  var obj_pages = {
    str_miniCart: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.MiniCart"))',
    str_login: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.Login"))',
    str_globalTranslates: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.GlobalTranslates"))',
    str_contactPopup: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.ContactUs_Popup"))',
    str_cartInformation: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.Cart_Information"))',
    str_typeAhead: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.TypeAhead"))'
  },
  obj_user = {
    str_country: '@userCountryCode',
    str_state: '@userState'
  },
  obj_settings = {
    str_contactTimeout: '@GetString("Item.Area.Time")',
    str_cartQty: '@GetString("Ecom:Order.OrderLines.TotalProductQuantity")'
  },
  obj_translates = {
    str_seeAll: '@Translate("seeAllThe", "See all the")',
    str_results: '@Translate("results", "results")'
  };
  $(function () {

    @RenderSnippet("jsOnLoadVariables")
    @SnippetStart("jsOnLoadVariables") @SnippetEnd("jsOnLoadVariables")
    @RenderSnippet("jsOnLoad")
    @SnippetStart("jsOnLoad") @SnippetEnd("jsOnLoad")
  });
 </script>
  
  
@RenderSnippet("eCommerceTracking")

  <!--Google Tag Manager-->
  <script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MBXRK36');
  </script>
  <!--End Google Tag Manager-->

 
  


  @{
    var key = System.Web.HttpContext.Current.Items["HideFooter"];
    var hideFooter = key != null && Convert.ToBoolean(key);
  }
@GetValue("Stylesheets")
@GetValue("Javascripts")
</head>


<body data-page-id='@GetGlobalValue("Global:Page.ID")' data-language="@shortLang">
<!--Google Tag Manager (noscript)--> 
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBXRK36" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!--End Google Tag Manager (noscript)-->
@SnippetStart("eCommerceTracking") @SnippetEnd("eCommerceTracking")

  @{
    string demo = string.Format("{0}css", designFolder);
  }

  @inherits RazorTemplateBase<RazorTemplateModel<Template>>


    <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/libs/animate-3.5.2/animate.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Files/Templates/Designs/VanBaerle/libs/slick-1.6.0/slick.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/css/style.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/css/navbar/style.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/css/hygiene/style.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/css/custom-slick-theme/slick-theme-custom.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/css/footer/style.css">

    <script src="/Files/Templates/Designs/VanBaerle/libs/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="/Files/Templates/Designs/VanBaerle/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/Files/Templates/Designs/VanBaerle/libs/fullpage-2.9.4/jquery.fullpage.js"></script>
    <script type="text/javascript" src="/Files/Templates/Designs/VanBaerle/libs/slick-1.6.0/slick.min.js"></script>
    <script src="/Files/Templates/Designs/VanBaerle/js/mobile-nav.js"></script>
    <script src="/Files/Templates/Designs/VanBaerle/js/hygiene.js"></script>

<div class="container-fluid hygiene" style="padding-left: 60px; padding-right: 60px;">
        <!--about us-->
        <div class="row banner">
            <div class="col-md-6 col-sm-6 col-xs-12 banner-image">

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 banner-text">
                <div class="row header">
                    <span>Über uns</span>
                </div>
                <div class="row description">
                    <span>
                        Die vanBaerle-Gruppe  ist ein international tätiges Schweizer Traditionsunternehmen.
                        Wir entwickeln, produzieren und vertreiben Produkte und Dienstleistungen für die professionelle Geschirr-,
                        Textil-, Küchen- und Raumhygiene, sowie Zusatzstoffe für die Schweiss-, Papier-, und Bauindustrie.
                    </span>
                </div>
                <div class="row line">
                    <span>_____________</span>
                </div>

            </div>
        </div>

        <div class="news">

        </div>

        <div class="Die-vanBaerle-Gruppe ">

        </div>

        <div class="row application">
            <div class="col-md-3 col-md-offset-1 col-sm-6">
                <div class="row header">
                    <div class="col-md-2 header-line full-height visible-md visible-lg">

                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <div class="row" style="font-size :large">
                            <span>Grundsätze und Werte</span>
                        </div>

                        <div class="row note">
                            "Wir wollen besser sein, besser als andere und jeden Tag noch besser als am Vortag.
                            Massgeblich für unsere Aktivitäten ist das Wohlergehen von Mensch, Gesellschaft und Umwelt."
                            Daniel Schenk, CEO und Inhaber vanBaerle Gruppe

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">

            </div>
            <div class="col-md-10 col-md-offset-1 slide-application col-sm-12">
                <div class="application-slider">
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="/Files/Templates/Designs/VanBaerle/img/hygiene-item-oval1.png">
                                </div>
                                <div class="item-info full-width">
                                    <div class="">
                                        Kundenzufriedenheit
                                    </div>
                                    <div class="note">
                                        <!--Care for the heart of the house-->
                                    </div>
                                    <div class="description">
                                        Unsere Kunden und Lieferanten sind unsere Partner.
                                        .
                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="/Files/Templates/Designs/VanBaerle/img/rightArrow.png"> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="/Files/Templates/Designs/VanBaerle/img/hygiene-item-oval1.png">
                                </div>
                                <div class="item-info full-width">
                                    <div class="">
                                        Mitarbeitende
                                    </div>
                                    <div class="note">
                                        <!--Care for the heart of the house-->
                                    </div>
                                    <div class="description">
                                        Unsere Mitarbeitenden machen unser Unternehmen aus.
                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="/Files/Templates/Designs/VanBaerle/img/rightArrow.png"> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="/Files/Templates/Designs/VanBaerle/img/hygiene-item-oval1.png">
                                </div>
                                <div class="item-info full-width">
                                    <div class="">
                                        Umweltschutz
                                    </div>
                                    <div class="note">
                                        <!--Care for the heart of the house-->
                                    </div>
                                    <div class="description">
                                        Wir nehmen Rücksicht auf die Umwelt.

                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="/Files/Templates/Designs/VanBaerle/img/rightArrow.png"> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="/Files/Templates/Designs/VanBaerle/img/hygiene-item-oval1.png">
                                </div>
                                <div class="item-info full-width">
                                    <div class="">
                                        Kommunikation
                                    </div>
                                    <div class="note">
                                        <!--Care for the heart of the house-->
                                    </div>
                                    <div class="description">
                                        Wir kommunizieren offen und ehrlich mit Öffentlichkeit und Behörden
                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="/Files/Templates/Designs/VanBaerle/img/rightArrow.png"> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="/Files/Templates/Designs/VanBaerle/img/hygiene-item-oval1.png">
                                </div>
                                <div class="item-info full-width">
                                    <div class="">
                                        Qualität
                                    </div>
                                    <div class="note">
                                        Care for the heart of the house
                                    </div>
                                    <div class="description ">
                                        Unter Qualität verstehen wir die Summe aller Anforderungen die unsere
                                        Kunden an unsere Produkte und Dienstleistungen stellen.

                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="/Files/Templates/Designs/VanBaerle/img/rightArrow.png"> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-fluid Environment and sustainability">

            <h2 class="header-line"> Umwelt und Nachhaltigkeit </h2>
            <div class="col-md-6">
                <img src="/Files/Templates/Designs/VanBaerle/img/contact-image-1.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="span4 collapse-group">
                        <h2>Umweltschutz und Nachhaltigkeit</h2>
                        <p>
                            Umweltschutz und Nachhaltigkeit
                            Verantwortungsbewusstsein in Hinblick auf den Schutz unserer Umwelt ist in der über 125-jährigen Unternehmensgeschichte der vanBaerle-Gruppe solide verankert. Der Schutz der Umwelt war bereits ein Grundprinzip unseres Handels, lange bevor Nachhaltigkeit zum Schlagwort wurde. Bei der Verfolgung unserer
                            Unternehmensziele nehmen wir stets grösstmögliche Rücksicht auf die
                            <div class="collapse" id="viewdetails1">
                                <h3>
                                    <b> Umweltschutz und Nachhaltigkeit </b>
                                </h3>
                                Verantwortungsbewusstsein in Hinblick auf den Schutz unserer Umwelt ist in der über 125-jährigen Unternehmensgeschichte der vanBaerle-Gruppe
                                solide verankert. Der Schutz der Umwelt war bereits ein Grundprinzip unseres Handels,
                                lange bevor Nachhaltigkeit zum Schlagwort wurde. Bei der Verfolgung unserer Unternehmensziele nehmen wir stets grösstmögliche Rücksicht auf die Umwelt Mehr
                                <h3>
                                    <b>Produktion </b>
                                </h3>
                                Wir legen Wert auf einen energieeffizienten Beschaffungs- und Herstellungsprozess und verwenden wenn möglich Rohstoffe aus nachwachsenden Ressourcen. In unserer Produktion setzen wir umweltgerechte Technologien ein.
                                <h3>
                                    <b>Energieverbrauch</b>
                                </h3>
                                Durch unsere Massnahmen zur Reduzierung des Energieverbrauchs konnten wir unsere CO2-Emissionen bisher um 800 Tonnen pro Jahr (fast die Hälfte) reduzieren. Wir übertreffen damit unsere Zielverpflichtung gemäss Kyoto-Protokoll bei weitem. Unseren Wasserverbrauch haben wir trotz gestiegener Produktionsmenge in den letzten Jahren halbiert. Um energie- und klimapolitische Ziele effektiv verfolgen zu können, ist vanBaerle Mitglied der Energie-Agentur der Wirtschaft
                                <h3>
                                    <b>Silikate </b>
                                </h3>
                                Die Rohstoffe(Sand, Pottasche und Soda), die wir in der Produktion unserer Silikate einsetzen, kommen in der Natur vor. Unsere Silikate sind daher in der Herstellung und Verwendung für Mensch und Natur unbedenklich. Wir entwickeln ständig neue Anwendungsbereiche für Silikate, damit unsere Kunden bedenkliche Substanzen durch umweltschonende Silikate ersetzen können. Zusätzlich optimieren wir unseren Herstellungsprozess um Wasser und Energie einzusparen.
                                <h3>
                                    <b>Hygiene </b>
                                </h3>
                                vanBaerle bietet schweizweit das grösste Sortiment nachhaltig produzierter, umweltschonender Reinigungsmittel. Wir entwickeln neue, innovative Produkte, die den Bedürfnissen unserer Kunden gerecht werden und weniger umweltschonende Produkte ersetzen können. Zur Herstellung unserer Produkte verwenden wir bevorzugt nachwachsende Rohstoffe. Auch unsere Kunden leisten durch unserer Produkte einen Beitrag zum Umweltschutz: Durch die hohe Wirksamkeit unserer Produkte reduziert sich ihr Wasserverbrauch.
                                <h3>
                                    <b>GREEN-Philosophie </b>
                                </h3>
                                Unser Bekenntnis zu Umweltschutz und Nachhaltigkeit beschränkt sich nicht nur auf unsere Hygieneprodukte und unsere ohnehin umweltneutralen Silikate. Sie spiegelt sich auch in unserer Unternehmensphilosophie wider. Für unsere Mitarbeitenden schaffen wir ein angenehmes, ehrliches und wertschätzendes Arbeitsumfeld. Wir achten gemeinsam im Alltag darauf die Umwelt zu schonen. Bei der Wahl unserer Partner bevorzugen wir Unternehmen, die ebenfalls nachhaltig wirtschaften. Der Begriff «nachhaltig» bedeutet für uns gleichermassen, ökologisch verträglich, ökonomisch tragfähig und sozial engagiert zu sein. Unsere GREEN-Philosophie dehnen wir auf alle Bereiche unseres Unternehmens aus und leben sie täglich.
                            </div>
                            <br>
                            <a class="item-info" href="#" data-toggle="collapse" data-target="#viewdetails1">Umwelt Mehr... &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-fluid quality and safety">
            <h2> Qualität und Sicherheit</h2>
            <div class="col-md-6">
                <img src="/Files/Templates/Designs/VanBaerle/img/contact-image-2.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="span4 collapse-group">
                        <h2>Qualität und Sicherheit</h2>
                        <p>
                            Qualität und Sicherheit sind untrennbare Leitthemen in allen Bereichen unserer Tätigkeiten. Dazu gehören die Beschaffung der Rohstoffe, die Zusammensetzung der Produkte, die Produktionsverfahren, das Vermeiden von Umweltbelastungen, der Schutz unserer Mitarbeitenden und vieles
                            <div class="collapse" id="#viewdetails2">
                                <h3>
                                    <b> Qualität </b>
                                </h3>
                                ist unser höchstes Gut. Wir erarbeiten uns dieses Gut jeden Tag aufs Neue. Für unsere Kunden wollen wir maximalen Nutzen erzielen. Wir verkaufen nicht nur Produkte, sondern schaffen qualitative Werte. Deshalb erfüllen wir die Anforderungen unserer Kunden mit höchster Sorgfalt. Durch interne Workshops und Schulungen tragen wir dazu bei, dass jeder einzelne Mitarbeitende jederzeit qualitätsbewusst handelt.

                                <h3>
                                    <b>Sicherheit </b>
                                </h3>
                                Wir messen dem Thema Arbeitssicherheit grosse Bedeutung zu. Bei unseren Mitarbeitenden fördern wir das Sicherheitsdenken. Wir arbeiten mit den notwendigen sicherheitstechnischen Einrichtungen, um die Risiken auf ein Minimum zu reduzieren. Um auch unseren Kunden Sicherheit im Umgang mit unseren Produkten zu geben, legen wir allen Produkten Sicherheitsdatenblätter bei, die auch auf unserer Webseite hinterlegt sind (Link). Wir schulen zudem das Personal unserer Kunden und unterstützen sie dabei, unsere Produkte sicher zu transportieren, zu lagern, zu verwenden und zu entsorgen.
                                <h3>
                                    <b>Ereignisgruppe </b>
                                </h3>
                                Da wir trotz unserer umfassenden Sicherheitsmassnahmen auf den Ernstfall vorbereitet sein wollen, verfügt vanBaerle seit  19XX über eine eigene Ereignisgruppe. Das Team aus XX Mitarbeitenden ist für den Ernstfall geschult und kann schnell eingreifen falls es nötig sein sollte. Jedes Jahr führt die Ereignisgruppe X Übungen, unter anderem mit der Feuerwehr Münchenstein, durch.

                            </div>
                            <br>
                            <a class="item-info" href="#" data-toggle="collapse" data-target="#viewdetails2">Umwelt Mehr... &raquo;</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-fluid quality and safety">

            <h2 class="header-line"> Digitalisierung</h2>
            <div class="col-md-6">
                <img src="/Files/Templates/Designs/VanBaerle/img/contact-image-3.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="span4 collapse-group">

                        <p>
                            Zum Selbstverständnis von vanBaerle gehört es, ständig besser zu werden. Das gilt nicht nur für unsere Produkte und Dienstleistungen, sondern auch für unser Unternehmen als Ganzes. Wir haben die Zeichen der Zeit erkannt und wollen den Anforderungen einer globalisierten, digitalisierten Welt noch besser gerecht werden. Deswegen haben wir 2016 die Funktion des Chief Digital Officers geschaffen und damit den Prozess zur Digitalisierung der gesamten vanB
                            aerle-Gruppe angestossen.
                            <div class="collapse" id="#viewdetails3">
                        <p>
                            <b>Das Ziel </b>
                            Durch die konsequente Nutzung der Möglichkeiten, die uns die digitale Umwelt bietet, können wir  Arbeitsprozesse zeitlich, örtlich und inhaltlich flexibler gestalten. Wir möchten die Kommunikation mit unseren Kunden verstärken, die Reaktionszeiten verkürzen und unsere Prozesse beschleunigen. Das hilft unseren Mitarbeitenden, unseren Partnern und unseren Kunden.
                        </p>
                        <p>
                            <b>Der Weg  </b>
                            Mit der Aktualisierung unseres ERP-Systems zur besseren Ressourcenplanung und der Implementierung einer CRM-Lösung zur Verbesserung des Kundenbeziehungsmanagements, haben wir bereits 2016 begonnen
                        </p>

                    </div>
                    <br>
                    <a class="item-info" href="#" data-toggle="collapse" data-target="#viewdetails3">Umwelt Mehr... &raquo;</a>

                </div>
            </div>
        </div>


        <div class="row container-fluid story-history">

        </div>


        <div class="row container-fluid Key-figures">
            <h2 class="header-line">Kennzahlen </h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            vanBaerle in TCHF
                        </div>
                        <div class="col-md-6">
                            2016
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Revenue
                        </div>
                        <div class="col-md-6">
                            32'438
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Operating Profit
                        </div>
                        <div class="col-md-6">
                            -711
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Investments
                        </div>
                        <div class="col-md-6">
                            2'020
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Employees
                        </div>
                        <div class="col-md-6">
                            120
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-6">
                    <a class="item-info" href="#" target="_blank">Download Geschäftsbericht 2016</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/Files/Templates/Designs/VanBaerle/img/contact-image-2.png">
                </div>


                <div class="col-md-6">
                    <div class="row">
                        <div class="">
                            <div class="row name">
                                Investor Relations
                            </div>
                            <div class="row note">
                                Markus Staub
                            </div>
                            <div class="row note">
                                Chief Financial Officer
                            </div>
                            <div class="row note">
                                <img src="/Files/Templates/Designs/VanBaerle/img/tel-icon.png">
                                Tel +41 61 415 92 03
                            </div>
                            <div class="row note">
                                <img src="/Files/Templates/Designs/VanBaerle/img/mail-icon.png">
                                markus.staub@vanbaerle.ch
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="row container-fluid Certificates">
            <h2 class="header-line">Zertifikate</h2>
            <div class="col-md-6">
                <h4>Zertifikate</h4>
                <p>vanBaerle hat ein Managementsystem, das die Aktivitäten in den Bereichen Qualität, Umwelt und Sicherheit umfassend steuert. Die Zertifizierung nach ISO 9001 und 14001 stellt sicher, dass das System den gängigen Regeln entspricht und überprüfbare Ergebnisse liefert.</p>
            </div>
            <div class="col-md-3">
                <a class="home-menu-link" href="#" target="_blank">Download ISO 9001</a>
            </div>
            <div class="col-md-3">
                <a class="home-menu-link" href="#" target="_blank">Download ISO 14001</a>
            </div>

        </div>


    </div>
      
  @if (!hideFooter)
  {
   
<footer class="main-footer">
  <div class="container">
    <div class="row">
      	<div class="main-footer__column col-md-4 col-sm-12 screen-sm">
            <h5 class="main-footer__heading">@Translate("Stay Tuned", "Stay Tuned")</h5>
            @*<form action="#">
              <div class="input-group main-footer__subscribe">
                <span class="input-group-addon">
                  <i class="vb-envelope input-group-addon-icon"></i>
                </span>
                <input type="email" id="subscriptionEmail" class="form-control" placeholder='@Translate("enterEmail","Enter email addres")'>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">@Translate("subscribe","Subscribe")</button>
                </span>
              </div>
            </form>*@
          	<form name="NewsletterSubscribe" id="NewsletterSubscribe" method="post" enctype="multipart/form-data" data-api="@subscribeToNewsletterAPI" data-success='@Translate("Subscribe success","You have been subscribed to our latest news about products and promotions")' data-error='@Translate("invalidEmailAddress", "Invalid email address")'>
          		<input name="UserManagementForm" value="1" type="hidden">
                <input id="UserManagementForm.DeleteImage" name="UserManagementForm.DeleteImage" type="hidden">
                <div style="display: none;">
                    <input name="UserManagement_Form_EmailAllowed" id="UserManagement_Form_EmailAllowed" value="True" checked="checked" type="checkbox">
                    <input name="UserManagement_Form_EmailAllowed_ApplyValue" id="UserManagement_Form_EmailAllowed_ApplyValue" value="AllowEmail" type="hidden">
                </div>     
          		<input class="hidden" placeholder="Name" name="UserManagement_Form_Name" type="text" id="UserManagement_Form_Name2"> 
          	<div class="input-group main-footer__subscribe"> 
                  
                   <span class="input-group-addon">
                  	<i class="vb-envelope input-group-addon-icon"></i>
                   </span>
                  <input type="email" class="form-control" name="UserManagement_Form_Email" id="UserManagement_Form_Email" placeholder='@Translate("enterEmail","Enter email addres")' value=''>
              	  <span class="input-group-btn">
                  	<input type="submit" class="btn btn-primary" value='@Translate("subscribe","Subscribe")'>
              	  </span>
                 </div>
            </form>
          </div>
      
      <div class="col-md-2 col-sm-12 screen-sm pull-right">
        <a href="index.html">
          <img class="main-footer__logo" src="@logo" alt="vanBaerle">
        </a>
      </div>
         
      @*<div class="col-md-2 screen-sm">
        <div class="main-footer__column">
          <h5 class="main-footer__heading">@Translate("aboutUs", "About Us")</h5>
          <ul class="main-footer__link-list">
            <li><a href="/about-us">vanBaerle</a></li>
            <li><a href="/about-us">Responsibility</a></li>
            <li><a href="/about-us">Jobs</a></li>
            <li><a href="/about-us">Contact</a></li>
            <li><a href="/about-us">Terms</a></li>
          </ul>
        </div>
      </div>*@
      @*<div class="col-md-2 screen-sm">
        <div class="main-footer__column">
          <h5 class="main-footer__heading">@Translate("products","Products")</h5>
          <ul class="main-footer__link-list">
            <li><a href="/hygiene">Hygiene</a></li>
            <li><a href="/silicates">@Translate("silicates", "Silicates")</a></li>
          </ul>
        </div>
      </div>*@
        
      <div class="col-lg-3 col-md-4">
        <div class="main-footer__column--sm">
          <!-- .main-footer__socialcopy #1 -->
          <div class="main-footer__socialcopy main-footer__socialcopy--sm">
            @*<div class="main-footer__social">
              <a class="main-footer__social-link" href="#" target="_blank">
                <i class="main-footer__social-icon vb-facebook"></i>
              </a>
              <a class="main-footer__social-link" href="#" target="_blank">
                <i class="main-footer__social-icon vb-twitter"></i>
              </a>
              <a class="main-footer__social-link" href="#" target="_blank">
                <i class="main-footer__social-icon vb-linkedin"></i>
              </a>
            </div>*@
            <span class="main-footer__copyright">&copy; @DateTime.Now.Year. &nbsp;  @GetString("Item.Area.Copyright")</span>
          </div>
          
        </div>
      </div>
    </div>

    <!-- main-footer__socialcopy #2 -->
    <div class="main-footer__bottom main-footer__socialcopy">
      <div class="main-footer__social">
        @*<a class="main-footer__social-link" href="#" target="_blank">
          <i class="main-footer__social-icon vb-facebook"></i>
        </a>
        <a class="main-footer__social-link" href="#" target="_blank">
          <i class="main-footer__social-icon vb-twitter"></i>
        </a>
        <a class="main-footer__social-link" href="#" target="_blank">
          <i class="main-footer__social-icon vb-linkedin"></i>
        </a>*@

        <span class="main-footer__copyright">&copy; @DateTime.Now.Year. &nbsp; @GetString("Item.Area.Copyright")</span>
      </div>
      
      @GetValue("DwNavigation(copyrightMenu)")
    </div>
  </div>
</footer>
  }
  
</div></body>
</html>