@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@using System.Text.RegularExpressions;
@using Dynamicweb.Core

@{
  string designFolder = GetString("Template:DesignBaseUrl");
  string device = Pageview.Device.ToString();
  string OrSubpage = GetString("DwAreaFirstPageID") == GetString("Global:Page.ID") ? "home" : "subpage";
  string print = !string.IsNullOrEmpty(System.Web.HttpContext.Current.Request.Params["print"]) ? "printOrPdf" : "";
  string resultsPage = GetString("Item.Area.SearchResults");
  string countryCode = Dna.IP.Frontend.GetCountryCode();
  string longLang = Pageview.GlobalTags.GetTagByName("Global:Area.LongLang").Value.ToString();
  string shortLang = Pageview.GlobalTags.GetTagByName("Global:Area.Lang").Value.ToString();
  string email = GetString("Item.Area.Email");
  string phone = GetString("Item.Area.Phone");
	string subscribeToNewsletterAPI = GetString("Item.Area.Newsletter_Subscribe_API");

  bool userIsLoggedIn = Dynamicweb.Security.UserManagement.User.IsExtranetUserLoggedIn();
  bool isPrint = !string.IsNullOrEmpty(System.Web.HttpContext.Current.Request.Params["print"]);
  List<LoopItem> socialMedia = GetLoop("Item.Area.SocialNetworks");
  List<LoopItem> websiteLanguages = GetLoop("WebsiteLanguages");
	List<LoopItem> languages = GetLoop("Languages");

  string ipCountry = Dna.IP.Frontend.GetCountryCode();
  string countryCodeModule = !string.IsNullOrEmpty(ipCountry) ? ipCountry : "US";
  string userCountryCode = (Pageview.User != null && !string.IsNullOrEmpty(Pageview.User.CountryCode)) ? Pageview.User.CountryCode : ipCountry;
  string userState = Pageview.User != null ? Pageview.User.State : string.Empty;    
}<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@GetValue("Title")</title>
@GetValue("MetaTags")
@GetValue("CopyRightNotice")

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: [
                    "Lato:100,300,300i,400,700,700i,900:latin,cyrillic,cyrillic-ext,latin-ext",
                    "Roboto:400,700",
                    "Montserrat"
                ]
            }
        });
    </script>

  <link rel="shortcut icon" href="@(designFolder)images/favicon.ico" type="image/x-icon">


  @{
  var minify = false;
  var styleBundle = Dna.Optimizer.Renderer.RenderStyles(string.Format("{0}css", designFolder), "-main-styles", new[] { "exceptions" }, minify, true);
  var scriptBundle = Dna.Optimizer.Renderer.RenderScripts(string.Format("{0}js", designFolder), "-main-scripts", new[] { "exceptions" }, minify, true);
  }
  <link rel="stylesheet" href="@styleBundle">
  <link rel="stylesheet" href="/Files/Templates/Designs/VanBaerle/css/exceptions/exceptions.css">
 
  
  <script src="@scriptBundle"></script>

  <script>
  @RenderSnippet("jsVariables")
  @SnippetStart("jsVariables") @SnippetEnd("jsVariables")

  var obj_pages = {
    str_miniCart: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.MiniCart"))',
    str_login: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.Login"))',
    str_globalTranslates: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.GlobalTranslates"))',
    str_contactPopup: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.ContactUs_Popup"))',
    str_cartInformation: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.Cart_Information"))',
    str_typeAhead: '@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(GetString("Item.Area.TypeAhead"))'
  },
  obj_user = {
    str_country: '@userCountryCode',
    str_state: '@userState'
  },
  obj_settings = {
    str_contactTimeout: '@GetString("Item.Area.Time")',
    str_cartQty: '@GetString("Ecom:Order.OrderLines.TotalProductQuantity")'
  },
  obj_translates = {
    str_seeAll: '@Translate("seeAllThe", "See all the")',
    str_results: '@Translate("results", "results")'
  };
  $(function () {

    @RenderSnippet("jsOnLoadVariables")
    @SnippetStart("jsOnLoadVariables") @SnippetEnd("jsOnLoadVariables")
    @RenderSnippet("jsOnLoad")
    @SnippetStart("jsOnLoad") @SnippetEnd("jsOnLoad")
  });
 </script>
  
  
@RenderSnippet("eCommerceTracking")

  <!--Google Tag Manager-->
  <script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MBXRK36');
  </script>
  <!--End Google Tag Manager-->

 
  


  @{
    var key = System.Web.HttpContext.Current.Items["HideFooter"];
    var hideFooter = key != null && Convert.ToBoolean(key);
  }
@GetValue("Stylesheets")
@GetValue("Javascripts")
</head>


<body data-page-id='@GetGlobalValue("Global:Page.ID")' data-language="@shortLang">
<!--Google Tag Manager (noscript)--> 
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBXRK36" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!--End Google Tag Manager (noscript)-->
@SnippetStart("eCommerceTracking") @SnippetEnd("eCommerceTracking")

  @{
    string demo = string.Format("{0}css", designFolder);
  }

  
@inherits RazorTemplateBase<RazorTemplateModel<Template>>


<main class="page--careers">
        <section class="banner banner--short">
            <div class="banner__half banner__half--image" style="background-image:url(assets/images/people.jpg);"></div>
            <div class="banner__half banner__half--content">
                <div class="banner__text">
                    <h1 class="banner__heading">
                        <strong>Wir fordern und fördern die Innovation und Kreativität</strong> unserer Mitarbeitenden.
                    </h1>
                </div>
                <div class="banner__line"></div>
            </div>
        </section>
        <section class="section section--employees invert-color">
            <div class="container">
                <div class="section__inner">
                    <div class="section__description">
                        <div class="section-desc__line"></div>
                        <div class="section-desc__text">
                            <h2 class="section-desc__title">Mitarbeiterstimmen</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="employees section__slider">
                <div class="card-image">
                    <div class="card__img" style="background-image:url(assets/images/person-5.jpg);"></div>
                    <div class="card__text">
                        <div class="card__heading">Van Baerle</div>
                        <div class="card__description">Max Muster, Mitarbeiter Produktion Seit 1986 Teil des vanBaerle Teams</div>
                    </div>
                </div>
                <div class="card-image">
                    <div class="card__img" style="background-image:url(assets/images/person-6.jpg);"></div>
                    <div class="card__text">
                        <div class="card__heading">Curabitur cursus</div>
                        <div class="card__description">Tortor quis auctor lobortis.</div>
                    </div>
                </div>
                <div class="card-image">
                    <div class="card__img" style="background-image:url(assets/images/person-7.jpg);"></div>
                    <div class="card__text">
                        <div class="card__heading">Cras accumsan</div>
                        <div class="card__description">Vel orci nec aliquet.</div>
                    </div>
                </div>
                <div class="card-image">
                    <div class="card__img" style="background-image:url(assets/images/person-8.jpg);"></div>
                    <div class="card__text">
                        <div class="card__heading">Van Baerle</div>
                        <div class="card__description">Max Muster, Mitarbeiter Produktion Seit 1986 Teil des vanBaerle Teams</div>
                    </div>
                </div>
                <div class="card-image">
                    <div class="card__img" style="background-image:url(assets/images/person-9.jpg);"></div>
                    <div class="card__text">
                        <div class="card__heading">Curabitur cursus</div>
                        <div class="card__description">Tortor quis auctor lobortis.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--divided section--video">
            <section class="bg-1 section__division">
                <div class="section__description">
                    <div class="section-desc__line"></div>
                    <div class="section-desc__text">
                        <div>
                            <h2 class="section-desc__title">Firmenkultur</h2>
                            <p class="section-desc__para">Wir fordern und fördern eine innovative Unternehmenskultur. Unsere Mitarbeitenden bringen für die Ausübung ihrer Tätigkeit unternehmerisches Denken und Handeln in allen Arbeitsbereichen mit. Ein hoher Selbstbestimmungsgrad auf allen Funktionsstufen motiviert unsere Mitarbeitenden und fördert Eigenverantwortung und Leistungsbereitschaft. Fest verankerte Werte geben Orientierung in der täglichen Zusammenarbeit. Führen heisst bei vanBaerle gemeinsam mit Menschen Ziele erreichen. Dabei ist Vertrauen die Grundlage für die Beziehung zwischen Führungskräften und Mitarbeitenden.</p>
                        </div>
                        <a class="section-desc__link" href="#" target="_blank">In Youtube öffnen <i class="icon vb-arrow-right"></i></a>
                    </div>
                </div>
            </section>
            <section class="section__division section__division--full">
                <div id="js-video-overlay" class="section-video__overlay" style="background-image:url(https://unsplash.it/720);">
                    <div class="section-video__overlay-color">
                        <span id="js-video-play" class="section-video__play-button" data-video="ytVideo">
                            <i class="section-video__play-button-img vb-triangle-play"></i>
                        </span>
                    </div>
                </div>
                <div id="ytVideo" class="video"></div>
            </section>
        </section>
        <section class="summarise">
            <div class="sum__half sum__half--files">
                <div class="file">
                    <div>
                        <h5 class="file__type">Berufsbildung</h5>
                        <h3 class="file__name">Ausbildung zum <strong>Kaufmann</strong></h3>
                    </div>
                    <a class="file__down" href="#" target="_blank">
                        Download PDF
                        <i class="vb-download file__down-icon"></i>
                    </a>
                </div>
                <div class="file">
                    <div>
                        <h5 class="file__type">Berufsbildung</h5>
                        <h3 class="file__name">Ausbildung zum <strong>Chemielaborant</strong></h3>
                    </div>
                    <a class="file__down" href="#" target="_blank">
                        Download PDF
                        <i class="vb-download file__down-icon"></i>
                    </a>
                </div>
            </div>
            <div class="sum__half sum__half--text">
                <div>
                    <h5 class="file__type">Politik</h5>
                    <h4 class="file__name file__name--sm">Artbeitgeber</h4>
                    <p class="sum__text">
                        Als Arbeitgeber zeigen wir gesellschaftliches Engagement. Wir fordern und fördern. Wir schaffen für unsere Mitarbeiter und Mitarbeiterinnen eine möglichst sichere Existenzgrundlage und eine optimale Umgebung.
                        vanBaerle bietet ein funktionierendes, multikulturelles Arbeitsumfeld: Kollegen aus  unterschiedlichen Nationen arbeiten in guter, familiärer Stimmung zusammen und prägen gemeinsam unsere offene Unternehmenskultur.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </section>
        <section class="section invert-color">
            <div class="container">
                <div class="section__inner">
                    <div class="section__description">
                        <div class="section-desc__line"></div>
                        <div class="section-desc__text">
                            <h2 class="section-desc__title">Offene Stellen</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="file-list">
                                <div class="file file--thumb">
                                    <div class="file__img" style="background-image:url(assets/images/person-4.jpg)"></div>
                                    <div class="file__text">
                                        <div>
                                            <h5 class="file__type">Posted 23 June 2017</h5>
                                            <h3 class="file__name">Wartungsarbeiter</h3>
                                        </div>
                                        <a class="file__down" href="#" target="_blank">
                                            Stellenbeschrieb
                                            <i class="vb-download file__down-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="file file--thumb">
                                    <div class="file__img" style="background-image:url(assets/images/person-10.jpg)"></div>
                                    <div class="file__text">
                                        <div>
                                            <h5 class="file__type">Posted 12 June 2017</h5>
                                            <h3 class="file__name">Verkaufsmanager</h3>
                                        </div>
                                        <a class="file__down" href="#" target="_blank">
                                            Stellenbeschrieb
                                            <i class="vb-download file__down-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-offset-1">
                            <div class="team-list">
                                <div class="info-simple">
                                    <div class="info__heading">Silke Schröder</div>
                                    <div class="info__subheading">HR team</div>
                                    <ul>
                                        <li class="info__item">
                                            <div class="icon">
                                                <img class="icon__img" src="/Files/Templates/Designs/VanBaerle/assets/images/phone-2.svg" alt="">
                                            </div>
                                            +65 68 96 01 44
                                        </li>
                                        <li class="info__item">
                                            <div class="icon">
                                                <img class="icon__img" src="/Files/Templates/Designs/VanBaerle/assets/images/envelope.svg" alt="">
                                            </div>
                                            hr.team@vanbaerle.com.sg 
                                        </li>
                                    </ul>
                                </div>
                                <div class="info-simple">
                                    <div class="info__heading">Manuela Berger</div>
                                    <div class="info__subheading">HR team</div>
                                    <ul>
                                        <li class="info__item">
                                            <div class="icon">
                                                <img class="icon__img" src="/Files/Templates/Designs/VanBaerle/assets/images/phone-2.svg" alt="">
                                            </div>
                                            +65 68 96 01 44
                                        </li>
                                        <li class="info__item">
                                            <div class="icon">
                                                <img class="icon__img" src="/Files/Templates/Designs/VanBaerle/assets/images/envelope.svg" alt="">
                                            </div>
                                            hr.team@vanbaerle.com.sg 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
      
  @if (!hideFooter)
  {
   
<footer class="main-footer">
  <div class="container">
    <div class="row">
      	<div class="main-footer__column col-md-4 col-sm-12 screen-sm">
            <h5 class="main-footer__heading">@Translate("Stay Tuned", "Stay Tuned")</h5>
            @*<form action="#">
              <div class="input-group main-footer__subscribe">
                <span class="input-group-addon">
                  <i class="vb-envelope input-group-addon-icon"></i>
                </span>
                <input type="email" id="subscriptionEmail" class="form-control" placeholder='@Translate("enterEmail","Enter email addres")'>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">@Translate("subscribe","Subscribe")</button>
                </span>
              </div>
            </form>*@
          	<form name="NewsletterSubscribe" id="NewsletterSubscribe" method="post" enctype="multipart/form-data" data-api="@subscribeToNewsletterAPI" data-success='@Translate("Subscribe success","You have been subscribed to our latest news about products and promotions")' data-error='@Translate("invalidEmailAddress", "Invalid email address")'>
          		<input name="UserManagementForm" value="1" type="hidden">
                <input id="UserManagementForm.DeleteImage" name="UserManagementForm.DeleteImage" type="hidden">
                <div style="display: none;">
                    <input name="UserManagement_Form_EmailAllowed" id="UserManagement_Form_EmailAllowed" value="True" checked="checked" type="checkbox">
                    <input name="UserManagement_Form_EmailAllowed_ApplyValue" id="UserManagement_Form_EmailAllowed_ApplyValue" value="AllowEmail" type="hidden">
                </div>     
          		<input class="hidden" placeholder="Name" name="UserManagement_Form_Name" type="text" id="UserManagement_Form_Name2"> 
          	<div class="input-group main-footer__subscribe"> 
                  
                   <span class="input-group-addon">
                  	<i class="vb-envelope input-group-addon-icon"></i>
                   </span>
                  <input type="email" class="form-control" name="UserManagement_Form_Email" id="UserManagement_Form_Email" placeholder='@Translate("enterEmail","Enter email addres")' value=''>
              	  <span class="input-group-btn">
                  	<input type="submit" class="btn btn-primary" value='@Translate("subscribe","Subscribe")'>
              	  </span>
                 </div>
            </form>
          </div>
      
      <div class="col-md-2 col-sm-12 screen-sm pull-right">
        <a href="index.html">
          <img class="main-footer__logo" src="@logo" alt="vanBaerle">
        </a>
      </div>
         
      @*<div class="col-md-2 screen-sm">
        <div class="main-footer__column">
          <h5 class="main-footer__heading">@Translate("aboutUs", "About Us")</h5>
          <ul class="main-footer__link-list">
            <li><a href="/about-us">vanBaerle</a></li>
            <li><a href="/about-us">Responsibility</a></li>
            <li><a href="/about-us">Jobs</a></li>
            <li><a href="/about-us">Contact</a></li>
            <li><a href="/about-us">Terms</a></li>
          </ul>
        </div>
      </div>*@
      @*<div class="col-md-2 screen-sm">
        <div class="main-footer__column">
          <h5 class="main-footer__heading">@Translate("products","Products")</h5>
          <ul class="main-footer__link-list">
            <li><a href="/hygiene">Hygiene</a></li>
            <li><a href="/silicates">@Translate("silicates", "Silicates")</a></li>
          </ul>
        </div>
      </div>*@
        
      <div class="col-lg-3 col-md-4">
        <div class="main-footer__column--sm">
          <!-- .main-footer__socialcopy #1 -->
          <div class="main-footer__socialcopy main-footer__socialcopy--sm">
            @*<div class="main-footer__social">
              <a class="main-footer__social-link" href="#" target="_blank">
                <i class="main-footer__social-icon vb-facebook"></i>
              </a>
              <a class="main-footer__social-link" href="#" target="_blank">
                <i class="main-footer__social-icon vb-twitter"></i>
              </a>
              <a class="main-footer__social-link" href="#" target="_blank">
                <i class="main-footer__social-icon vb-linkedin"></i>
              </a>
            </div>*@
            <span class="main-footer__copyright">&copy; @DateTime.Now.Year. &nbsp;  @GetString("Item.Area.Copyright")</span>
          </div>
          
        </div>
      </div>
    </div>

    <!-- main-footer__socialcopy #2 -->
    <div class="main-footer__bottom main-footer__socialcopy">
      <div class="main-footer__social">
        @*<a class="main-footer__social-link" href="#" target="_blank">
          <i class="main-footer__social-icon vb-facebook"></i>
        </a>
        <a class="main-footer__social-link" href="#" target="_blank">
          <i class="main-footer__social-icon vb-twitter"></i>
        </a>
        <a class="main-footer__social-link" href="#" target="_blank">
          <i class="main-footer__social-icon vb-linkedin"></i>
        </a>*@

        <span class="main-footer__copyright">&copy; @DateTime.Now.Year. &nbsp; @GetString("Item.Area.Copyright")</span>
      </div>
      
      @GetValue("DwNavigation(copyrightMenu)")
    </div>
  </div>
</footer>
  }
  
</body>
</html>