@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;

@Include("../../includes/Razor/GetImage.cshtml")
@Include("../../includes/PageTemplates/MailHelpers.cshtml")

@{
	DateTime submitDate = DateTime.Now;
	string receiptUrl = GetString("Submit.ReceiptUrl");
	string requestUrl = "http://" + GetGlobalValue("Global:Request.Host");

}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

@BuildHeading(color3,fontFamily3,color1)

<body style="width: 100%; height: 100%;">

@BuildLinksHeader(fontSize14, fontFamily2, color1, color2, color3, designName, domain, item, requestUrl + receiptUrl, "Form submitted " + submitDate.ToString(Dynamicweb.Dates.DateFormatString), false)
	<!-- End of preheader -->
	<!-- Start of header -->
	<table width="100%" bgcolor="@color3" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
		<tbody>
			<tr>
				<td>
					<table width="700" bgcolor="@color3" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
						<tbody>
							<tr>
								<td width="100%">
									<table width="700" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
										<tbody>
											<tr>
												<td>
													<!-- logo -->
													<table width="700" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
														<tbody>
														<tr>
															<td style="@fontFamily font-weight:100; text-align:left;" st-title="fulltext-heading">
																@Translate("recoveryTitle", "Dear Valued Customer,")
															</td>
														</tr>
														<tr>
															<td style="padding-top: 5px;">
																@Translate("recoverySubPhrase", "You have made a request to reset the password on CompanyName.com account")
															</td>
														</tr>
														</tbody>
													</table>
													<!-- end of logo -->
												</td>
											</tr>
											<!-- Spacing -->
											<tr>
												<td height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
											</tr>
											<!-- Spacing -->
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- End of Header -->
	<!-- Start Full Text -->
    <h3>Your profile settings are:</h3>
    <table width="300" border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td>Login:</td>
            <td>@GetValue("DWUsers:User:Username")</td>
        </tr>
        <tr>
            <td>Reset Password:</td>
            <td>
                <a href="@GetValue(" DWUsers:User:PasswordRecoveryUrl")"=DWUsers:User:PasswordRecoveryUrl")">Reset</a>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>@GetValue("DWUsers:User:Name")</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@GetValue("DWUsers:User:Email")</td>
        </tr>
    </table>
    @TemplateTags()

	<table width="100%" bgcolor="@color3" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
		<tbody>
			<tr>
				<td>
					<table width="700" bgcolor="@color3" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
						<tbody>
							<tr>
								<td width="100%">
									<table width="700" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
										<tbody>
											<tr>
												<td>
													<table width="700" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
														<tbody>
														<!-- content -->
														<tr>
															<td style="@fontFamily @color1 text-align:left; line-height: 1.2em;" st-content="fulltext-content">
																<a style="@fontSize14" href="@GetString("DWPasswordRecoveryUrl")&Username=@GetString("DWExtranetUsername")">@Translate("clickHere", "Click here to change your password")</a>
															</td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td style="@fontFamily @color1 text-align:left; line-height: 1.2em;" st-content="fulltext-content">
																<span style="@fontSize14">@Translate("recoveryPhrase", "If you did not request this change, please contact us immediately at 800.8.MARTEC.")</span>
															</td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td style="@fontSize14 @fontFamily @color1 text-align:left;" st-content="fulltext-content">
																<span style="@fontSize14">@Translate("thankYou", "Thank you,")</span><br />
																<span style="@fontSize14">@Translate("CompanyName", "CompanyName")</span><br />
																@* <a style="@fontSize14"  href="@requestUrl">
																	@requestUrl
																</a> *@
															</td>
														</tr>
													    <!-- End of content -->
														</tbody>
													</table>
												</td>
											</tr>
											<!-- Spacing -->
											<tr>
												<td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
											</tr>
											<!-- Spacing -->
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- end of full text -->
	<!-- Start of seperator -->
	@* <table width="100%" bgcolor="@color3" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
		<tbody>
			<tr>
				<td>
					<table width="700" bgcolor="@color3" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
						<tbody>
							<tr>
								<td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
							</tr>
							<tr>
								<td width="550" align="center" height="1" bgcolor="#d1d1d1" style="font-size:1px; line-height:1px;">&nbsp;</td>
							</tr>
							<tr>
								<td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table> *@
	<!-- End of seperator -->

	@BuildFooter(socialMedia,color3, fontSize12, fontFamily3, color1, item)
</body>
</html>